/* Sección Encabezado */

header{
    padding: 10px;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Sección de Productos */

main{
    display: flex;
}

.seccionProductos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.productos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    padding: 20px;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px;
}

.contenedorTarjetaInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedorTarjetaPrecio{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Sección Formulario */

.seccionFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.contenedorForm{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

input{
    padding: 0 10px;
}

.contenedorBotones{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

/* Sección Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.redesSociales{
    display: flex;
    align-items: center;
    gap: 30px;
}

.redesSociales .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionPiePagina{
    padding-top: 20px;
}

/* Responsive */
/* Mobile */

@media screen and (max-width:767px){

    main{
        display: flex;
        flex-flow: column-reverse;
   }

   /* Sección Formulario */

   .seccionFormulario{
    padding: 20px 10px;
   }

   .contenedorBotones{
        flex-flow: row;
        justify-content: space-between;
    
    }

    /* Sección Productos */

    .seccionProductos{
        flex-flow: column wrap;
        padding: 20px 0px 20px 0px;
        gap: 20px;
    }

    .productos{
        gap: 20px;
        padding: 20px;
    }

    .redesSociales{
        gap: 0;
    }
}